@import url('https://fonts.cdnfonts.com/css/gotham'); 
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Noto+Sans&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #32CD32 ;
    --cor-titulo: #A020F0;
    --cor-bordas: #FF0000;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    padding: 1.5% 3% 1.5% 1.5%;
    background-color: var(--cor-terciaria);
    justify-content: space-between;
    align-items: center;
}

.victor-flix {
    margin: 0%;
    font-family: 'Gotham Black', 'sans-serif';
    font-size: 24px;
}

.cabecalho__menu {
    display: flex;
    gap: 20px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: 'Krona One', 'sans-serif';
    font-weight: bold;
}

.cabecalho__menu__titulo {
    text-decoration: none;
    color: var(--cor-titulo);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    box-sizing: border-box;
}

.apresentacao__titulo {
    font-family: 'Krona One', 'sans-serif';
    font-size: 34px;
    margin: 3%;
}

strong {
    color: var(--cor-titulo);
    font-weight: bold;
}

.apresentacao__texto {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    width: 800px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    
}

.imagem__home {
    width: 300px;
    height: 450px;
    border: solid 3px var(--cor-bordas);
    border-radius: 2%;
}

.posicao-imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.apresentacao__midia {
    padding: 3% 10% 3% 4%;
    display: flex;
    align-items: flex-start;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}